.Seatch-form {
  text-align: center;
}
.current-button {
  margin-top: 20px;
  background-color: #b6ccf0;
  padding: 5px;
  border: solid #74a3ed;
  color: #fff;
  border-radius: 6px;
  margin-bottom: 20px;
}
.current-button:hover {
  border: solid #6e8097;
  transition: all 200ms ease;
}
.Search-button {
  background-color: #b6ccf0;
  border: solid #fac0e5;
  color: #fff;
  border-radius: 6px;
  padding: 7px, 7px;
}

.search-input {
  margin-left: 40px;
  width: 250px;
  border: solid #74a3ed;
  border-radius: 6px;
  opacity: 0.5;
}
