.conditions {
  position: relative;
  right: 40px;
  top: 15px;
  text-align: center;
  font-size: 16px;
}
.currentDay {
  position: relative;
  right: 40px;
  top: 15px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
}
.temperature {
  font-size: 34px;
  color: #5f6368;
  text-align: center;
}
.current-temp {
  position: relative;
  right: -32px;
}
.celsius {
  position: relative;
  bottom: 10px;
  right: 12px;
  color: #6e8097;
  font-size: 18px;
  border: none;
  background-color: transparent;
}
#slash {
  position: relative;
  bottom: 10px;
  right: 16px;
  font-size: 20px;
}
.farenheit {
  position: relative;
  bottom: 10px;
  right: 18px;
  color: #6e8097;
  font-size: 18px;
  border: none;
  background-color: transparent;
}
.weather-list {
  position: relative;
  top: 15px;
  text-align: center;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
}
