h1 {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 30px;
}

.realFeel {
  font-size: 11px;
}
li {
  list-style: none;
  text-decoration: none;
  text-align: center;
}

li::first-letter {
  text-transform: capitalize;
}

.current-button {
  background-color: transparent;
  border: none;
  padding-left: 30px;
  font-size: 24px;
}
.current-button:hover {
  border: solid black;
}
.serchParty {
  text-align: center;
}
.Search-button {
  background-color: #edcc85;
  border: solid #edcc85;
  color: #fff;
  border-radius: 6px;
  padding: 7px, 7px;
  margin-left: 8px;
}
.Search-button:hover {
  border: solid #6e8097;
  background-color: #74a3ed;
  color: #b6ccf0;
  transition: all 200ms ease;
}

.search-input {
  margin-left: 20px;
  width: 250px;
  border: solid #edcc85;
  border-radius: 6px;
  opacity: 0.5;
}
.search-input:hover {
  cursor: pointer;
  border: solid #3262af;
}
